In [2]:
import pandas as pd

# Load dataset
df = pd.read_csv("transactions.csv")

# 1. Print summary of transaction dataset
print("Summary of transaction dataset:")
print(df.info())
print("\nStatistical summary:\n", df.describe(include='all'))

Summary of transaction dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TransactionID    10 non-null     int64
 1   TransactionDate  10 non-null     object
 2   UserID           9 non-null      float64
 3   ProductID        10 non-null     int64
 4   Quantity         10 non-null     int64
dtypes: float64(1), int64(3), object(1)
memory usage: 532.0+ bytes
None

Statistical summary:
         TransactionID TransactionDate    UserID  ProductID   Quantity
count        10.00000              10  9.000000  10.000000  10.000000
unique            NaN              10       NaN        NaN        NaN
top               NaN      2010-08-21       NaN        NaN        NaN
freq              NaN               1       NaN        NaN        NaN
mean          5.50000             NaN  3.444444   3.400000   2.400000
std           3.02765             NaN  2.127858   1.074968   1.712698
min           1.00000             NaN  1.000000   2.000000   1.000000
25%           3.25000             NaN  2.000000   2.250000   1.000000
50%           5.50000             NaN  3.000000   4.000000   2.000000
75%           7.75000             NaN  3.000000   4.000000   3.000000
max          10.00000             NaN  7.000000   5.000000   6.000000

In [2]:
# 2. Print number of attributes
print("\nNumber of attributes:", df.shape[1])

Number of attributes: 5

In [3]:
# 3. Print number of records
print("Number of records:", df.shape[0])

Number of records: 10

In [4]:
# 4. Get row names (index values)
print("Row names:", df.index.tolist())

Row names: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
# 5. Get column names
print("Column names:", df.columns.tolist())

Column names: ['TransactionID', 'TransactionDate', 'UserID', 'ProductID', 'Quantity']

In [6]:
# 6. View top 10 records
print("Top 10 records:\n", df.head(10))

Top 10 records:
    TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [7]:
# 7. Change the name of column 'Quantity' to 'Quant'
df.rename(columns={'Quantity': 'Quant'}, inplace=True)
print("\nColumn renamed from 'Quantity' to 'Quant':\n", df.head())

Column renamed from 'Quantity' to 'Quant':
    TransactionID TransactionDate  UserID  ProductID  Quant
0              1      2010-08-21     7.0          2      1
1              2      2011-05-26     3.0          4      1
2              3      2011-06-16     3.0          3      1
3              4      2012-08-26     1.0          2      3
4              5      2013-06-06     2.0          4      1

In [8]:
# 8. Change the name of columns 'ProductID' and 'UserID'
df.rename(columns={'ProductID': 'PID', 'UserID': 'UID'}, inplace=True)
print("\nColumns renamed (ProductID -> PID, UserID -> UID):\n", df.head())

Columns renamed (ProductID -> PID, UserID -> UID):
    TransactionID TransactionDate  UID  PID  Quant
0              1      2010-08-21  7.0    2      1
1              2      2011-05-26  3.0    4      1
2              3      2011-06-16  3.0    3      1
3              4      2012-08-26  1.0    2      3
4              5      2013-06-06  2.0    4      1

In [9]:
# 9. Order rows by TransactionID descending
df_sorted_tid = df.sort_values(by='TransactionID', ascending=False)
print("\nRows ordered by TransactionID descending:\n", df_sorted_tid)

Rows ordered by TransactionID descending:
    TransactionID TransactionDate  UID  PID  Quant
9             10      2016-05-08  3.0    4      4
8              9      2015-04-24  7.0    4      3
7              8      2014-04-24  NaN    2      3
6              7      2013-12-30  3.0    4      1
5              6      2013-12-23  2.0    5      6
4              5      2013-06-06  2.0    4      1
3              4      2012-08-26  1.0    2      3
2              3      2011-06-16  3.0    3      1
1              2      2011-05-26  3.0    4      1
0              1      2010-08-21  7.0    2      1

In [10]:
# 10. Order rows by Quant ascending, TransactionDate descending
df_sorted_quant_date = df.sort_values(by=['Quant', 'TransactionDate'], ascending=[True, False])
print("\nRows ordered by Quant ascending and TransactionDate descending:\n", df_sorted_quant_date)

Rows ordered by Quant ascending and TransactionDate descending:
    TransactionID TransactionDate  UID  PID  Quant
6              7      2013-12-30  3.0    4      1
4              5      2013-06-06  2.0    4      1
2              3      2011-06-16  3.0    3      1
1              2      2011-05-26  3.0    4      1
0              1      2010-08-21  7.0    2      1
8              9      2015-04-24  7.0    4      3
7              8      2014-04-24  NaN    2      3
3              4      2012-08-26  1.0    2      3
9             10      2016-05-08  3.0    4      4
5              6      2013-12-23  2.0    5      6

In [11]:
# 11. Set column order to PID, Quant, TransactionDate, TransactionID, UID
df = df[['PID', 'Quant', 'TransactionDate', 'TransactionID', 'UID']]
print("\nColumns reordered:\n", df.head())

Columns reordered:
    PID  Quant TransactionDate  TransactionID  UID
0    2      1      2010-08-21              1  7.0
1    4      1      2011-05-26              2  3.0
2    3      1      2011-06-16              3  3.0
3    2      3      2012-08-26              4  1.0
4    4      1      2013-06-06              5  2.0

In [12]:
# 12. Make UID the first column
df = df[['UID', 'PID', 'Quant', 'TransactionDate', 'TransactionID']]
print("\nUID set as the first column:\n", df.head())

UID set as the first column:
    UID  PID  Quant TransactionDate  TransactionID
0  7.0    2      1      2010-08-21              1
1  3.0    4      1      2011-05-26              2
2  3.0    3      1      2011-06-16              3
3  1.0    2      3      2012-08-26              4
4  2.0    4      1      2013-06-06              5

In [13]:
# 13. Extracting arrays: Get the 2nd column (PID)
print("\nSecond column (PID):\n", df.iloc[:, 1].values)

Second column (PID):
 [2 4 3 2 4 5 4 2 4 4]

In [14]:
# 14. Get the PID array
print("\nPID array:\n", df['PID'].values)

PID array:
 [2 4 3 2 4 5 4 2 4 4]

In [15]:
# 15. Get the PID array (alternative method)
pid_array = df.loc[:, 'PID'].values
print("\nPID array using loc:\n", pid_array)

PID array using loc:
 [2 4 3 2 4 5 4 2 4 4]

In [16]:
# 16. Subset rows 1, 3, and 6
subset_rows_1_3_6 = df.iloc[[1, 3, 6]]
print("\nSubset rows 1, 3, and 6:\n", subset_rows_1_3_6)

Subset rows 1, 3, and 6:
    UID  PID  Quant TransactionDate  TransactionID
1  3.0    4      1      2011-05-26              2
3  1.0    2      3      2012-08-26              4
6  3.0    4      1      2013-12-30              7

In [17]:
# 17. Subset rows excluding 1, 3, and 6
subset_excluding_rows_1_3_6 = df.drop(index=[1, 3, 6])
print("\nSubset excluding rows 1, 3, and 6:\n", subset_excluding_rows_1_3_6)

Subset excluding rows 1, 3, and 6:
    UID  PID  Quant TransactionDate  TransactionID
0  7.0    2      1      2010-08-21              1
2  3.0    3      1      2011-06-16              3
4  2.0    4      1      2013-06-06              5
5  2.0    5      6      2013-12-23              6
7  NaN    2      3      2014-04-24              8
8  7.0    4      3      2015-04-24              9
9  3.0    4      4      2016-05-08             10

In [18]:
# 18. Subset the first three rows
print("\nFirst three rows:\n", df.head(3))

First three rows:
    UID  PID  Quant TransactionDate  TransactionID
0  7.0    2      1      2010-08-21              1
1  3.0    4      1      2011-05-26              2
2  3.0    3      1      2011-06-16              3

In [19]:
# 19. Subset the last two rows
print("\nLast two rows:\n", df.tail(2))

Last two rows:
    UID  PID  Quant TransactionDate  TransactionID
8  7.0    4      3      2015-04-24              9
9  3.0    4      4      2016-05-08             10

In [20]:
# 20. Subset rows excluding the last two
print("\nExcluding the last two rows:\n", df.iloc[:-2])

Excluding the last two rows:
    UID  PID  Quant TransactionDate  TransactionID
0  7.0    2      1      2010-08-21              1
1  3.0    4      1      2011-05-26              2
2  3.0    3      1      2011-06-16              3
3  1.0    2      3      2012-08-26              4
4  2.0    4      1      2013-06-06              5
5  2.0    5      6      2013-12-23              6
6  3.0    4      1      2013-12-30              7
7  NaN    2      3      2014-04-24              8

In [21]:
# 21. Subset rows excluding the first three
print("\nExcluding the first three rows:\n", df.iloc[3:])

Excluding the first three rows:
    UID  PID  Quant TransactionDate  TransactionID
3  1.0    2      3      2012-08-26              4
4  2.0    4      1      2013-06-06              5
5  2.0    5      6      2013-12-23              6
6  3.0    4      1      2013-12-30              7
7  NaN    2      3      2014-04-24              8
8  7.0    4      3      2015-04-24              9
9  3.0    4      4      2016-05-08             10

In [22]:
# 22. Subset rows where Quant > 1
subset_quant_gt_1 = df[df['Quant'] > 1]
print("\nRows where Quant > 1:\n", subset_quant_gt_1)

Rows where Quant > 1:
    UID  PID  Quant TransactionDate  TransactionID
3  1.0    2      3      2012-08-26              4
5  2.0    5      6      2013-12-23              6
7  NaN    2      3      2014-04-24              8
8  7.0    4      3      2015-04-24              9
9  3.0    4      4      2016-05-08             10

In [23]:

# 23. Subset rows where UID = 2
subset_uid_eq_2 = df[df['UID'] == 2]
print("\nRows where UID = 2:\n", subset_uid_eq_2)

Rows where UID = 2:
    UID  PID  Quant TransactionDate  TransactionID
4  2.0    4      1      2013-06-06              5
5  2.0    5      6      2013-12-23              6

In [24]:
# 24. Subset rows where Quant > 1 and UID = 2
subset_quant_gt_1_uid_eq_2 = df[(df['Quant'] > 1) & (df['UID'] == 2)]
print("\nRows where Quant > 1 and UID = 2:\n", subset_quant_gt_1_uid_eq_2)

Rows where Quant > 1 and UID = 2:
    UID  PID  Quant TransactionDate  TransactionID
5  2.0    5      6      2013-12-23              6

In [25]:
# 25. Subset rows where Quant + UID > 3
subset_quant_uid_sum_gt_3 = df[df['Quant'] + df['UID'] > 3]
print("\nRows where Quant + UID > 3:\n", subset_quant_uid_sum_gt_3)

Rows where Quant + UID > 3:
    UID  PID  Quant TransactionDate  TransactionID
0  7.0    2      1      2010-08-21              1
1  3.0    4      1      2011-05-26              2
2  3.0    3      1      2011-06-16              3
3  1.0    2      3      2012-08-26              4
5  2.0    5      6      2013-12-23              6
6  3.0    4      1      2013-12-30              7
8  7.0    4      3      2015-04-24              9
9  3.0    4      4      2016-05-08             10

In [26]:
# 26. Subset rows where an external array foo is True
foo = [True, False, True, False, True, False, True, False, True, True]
subset_foo_true = df[foo]
print("\nRows where foo is True:\n", subset_foo_true)

Rows where foo is True:
    UID  PID  Quant TransactionDate  TransactionID
0  7.0    2      1      2010-08-21              1
2  3.0    3      1      2011-06-16              3
4  2.0    4      1      2013-06-06              5
6  3.0    4      1      2013-12-30              7
8  7.0    4      3      2015-04-24              9
9  3.0    4      4      2016-05-08             10

In [27]:
# 27. Subset rows where external array bar is positive
bar = [1, -1, 3, 0, 2, -3, 4, -2, 5, 1]
subset_bar_positive = df[[x > 0 for x in bar]]
print("\nRows where bar is positive:\n", subset_bar_positive)

Rows where bar is positive:
    UID  PID  Quant TransactionDate  TransactionID
0  7.0    2      1      2010-08-21              1
2  3.0    3      1      2011-06-16              3
4  2.0    4      1      2013-06-06              5
6  3.0    4      1      2013-12-30              7
8  7.0    4      3      2015-04-24              9
9  3.0    4      4      2016-05-08             10

In [28]:
# 28. Subset rows where foo is True or bar is negative
subset_foo_true_or_bar_negative = df[[f or b < 0 for f, b in zip(foo, bar)]]
print("\nRows where foo is True or bar is negative:\n", subset_foo_true_or_bar_negative)

Rows where foo is True or bar is negative:
    UID  PID  Quant TransactionDate  TransactionID
0  7.0    2      1      2010-08-21              1
1  3.0    4      1      2011-05-26              2
2  3.0    3      1      2011-06-16              3
4  2.0    4      1      2013-06-06              5
5  2.0    5      6      2013-12-23              6
6  3.0    4      1      2013-12-30              7
7  NaN    2      3      2014-04-24              8
8  7.0    4      3      2015-04-24              9
9  3.0    4      4      2016-05-08             10

In [29]:
# 29. Subset rows where foo is not True and bar is not negative
subset_not_foo_not_negative = df[[not f and b >= 0 for f, b in zip(foo, bar)]]
print("\nRows where foo is not True and bar is not negative:\n", subset_not_foo_not_negative)

Rows where foo is not True and bar is not negative:
    UID  PID  Quant TransactionDate  TransactionID
3  1.0    2      3      2012-08-26              4

In [30]:
# 30. Subset by columns 1 and 3
subset_columns_1_3 = df.iloc[:, [0, 2]]
print("\nSubset by columns 1 and 3:\n", subset_columns_1_3)

Subset by columns 1 and 3:
    UID  Quant
0  7.0      1
1  3.0      1
2  3.0      1
3  1.0      3
4  2.0      1
5  2.0      6
6  3.0      1
7  NaN      3
8  7.0      3
9  3.0      4

In [31]:
# 31. Subset by columns TransactionID and TransactionDate
subset_transaction_cols = df[['TransactionID', 'TransactionDate']]
print("\nSubset by TransactionID and TransactionDate:\n", subset_transaction_cols)

Subset by TransactionID and TransactionDate:
    TransactionID TransactionDate
0              1      2010-08-21
1              2      2011-05-26
2              3      2011-06-16
3              4      2012-08-26
4              5      2013-06-06
5              6      2013-12-23
6              7      2013-12-30
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

In [32]:
# 32. Subset by TransactionID and TransactionDate with logical operator
subset_transaction_logic = df.loc[:, ['TransactionID', 'TransactionDate']]
print("\nSubset by TransactionID and TransactionDate using loc:\n", subset_transaction_logic)

Subset by TransactionID and TransactionDate using loc:
    TransactionID TransactionDate
0              1      2010-08-21
1              2      2011-05-26
2              3      2011-06-16
3              4      2012-08-26
4              5      2013-06-06
5              6      2013-12-23
6              7      2013-12-30
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

In [33]:
# 33. Subset columns by a variable list of column names
var_cols = ['UID', 'Quant']
subset_var_cols = df[var_cols]
print("\nSubset by variable list of columns:\n", subset_var_cols)

Subset by variable list of columns:
    UID  Quant
0  7.0      1
1  3.0      1
2  3.0      1
3  1.0      3
4  2.0      1
5  2.0      6
6  3.0      1
7  NaN      3
8  7.0      3
9  3.0      4

In [34]:
# 34. Subset columns excluding a variable list of column names
subset_excluding_cols = df.drop(columns=var_cols)
print("\nSubset excluding variable list of columns:\n", subset_excluding_cols)

Subset excluding variable list of columns:
    PID TransactionDate  TransactionID
0    2      2010-08-21              1
1    4      2011-05-26              2
2    3      2011-06-16              3
3    2      2012-08-26              4
4    4      2013-06-06              5
5    5      2013-12-23              6
6    4      2013-12-30              7
7    2      2014-04-24              8
8    4      2015-04-24              9
9    4      2016-05-08             10

In [35]:
# 35. Inserting and updating values
# Example: Set Quant of first row to 10
df.at[0, 'Quant'] = 10
print("\nUpdated first row Quant value to 10:\n", df.head())

Updated first row Quant value to 10:
    UID  PID  Quant TransactionDate  TransactionID
0  7.0    2     10      2010-08-21              1
1  3.0    4      1      2011-05-26              2
2  3.0    3      1      2011-06-16              3
3  1.0    2      3      2012-08-26              4
4  2.0    4      1      2013-06-06              5

In [36]:
# 36. Convert TransactionDate to type Date
df['TransactionDate'] = pd.to_datetime(df['TransactionDate'])
print("\nConverted TransactionDate to datetime:\n", df.head())

Converted TransactionDate to datetime:
    UID  PID  Quant TransactionDate  TransactionID
0  7.0    2     10      2010-08-21              1
1  3.0    4      1      2011-05-26              2
2  3.0    3      1      2011-06-16              3
3  1.0    2      3      2012-08-26              4
4  2.0    4      1      2013-06-06              5

In [37]:
# 37. Insert a new column Foo = UID + PID
df['Foo'] = df['UID'] + df['PID']
print("\nInserted new column Foo (UID + PID):\n", df.head())

Inserted new column Foo (UID + PID):
    UID  PID  Quant TransactionDate  TransactionID  Foo
0  7.0    2     10      2010-08-21              1  9.0
1  3.0    4      1      2011-05-26              2  7.0
2  3.0    3      1      2011-06-16              3  6.0
3  1.0    2      3      2012-08-26              4  3.0
4  2.0    4      1      2013-06-06              5  6.0